<!DOCTYPE html>
<html>
<link rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css'>
<link rel="stylesheet" href="/index.css">

<body>

<div class="center">
    <h1>Hey you, <br/> want a cocktail?</h1>
    <a class="btn" href='/authorize'>Hell yeah, let's mix some!</a>  
</div>
</div>

</body>
</html>
