html, body {
  height: 100%;
}

.center {
  margin: auto;
  width: 100%;
  border: 8px solid #f7d794;
  padding: 40px;
  text-align: center;
  min-height: 100%;
  background-color: #546de5;
  color: white;
}

a {
  background-color: #f8a5c2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}

.segmentspacing {
  margin-bottom: 100px;
}

.ghosty {
  opacity: 0.4;
  font-size: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

select {
  width: 36%;
  padding: 12px;
  text-align: center;
  color: #282828;
}

label {
  padding-top: 82px;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -.015em;
  line-height: 1.3;
}

input[type=submit] {
  margin-top: 50px;
  width: 28%;
  height: 60px;
  background-color: #f7d794;
  border: none;
  font-size: 26px;
  border-radius: 30px;
  color: #282828;
  font-weight: 800;
}

input[type=checkbox] {
  width: 100px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: none;
  background: #f7d794;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: none;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #546de5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f7d794;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type=checkbox] {
  padding-left:30px;
  height:25px; 
  display:inline-block;
  line-height:25px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:25px;
  vertical-align:middle;
  cursor:pointer;
  position: relative;
  padding-left: 40px;
  margin-bottom: 5px;
  padding-top: 0px;
  cursor: pointer;
}

input[type=button] {
  background-color: #f8a5c2;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}